<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Moment 1</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/reset.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Hem</a></li>
                <li><a href="/course">Lägg till kurser</a></li>
                <li><a href="/about">Om</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Om</h1>
        <p>I detta uppgift har jag skapat en webbapp som användare kan lägga till kursinfo liksom kurskod, kursnamn, progression samt url till kursplan.
            Användaren kan även se befintliga kurser som lagts till. <br><br> Webbappen är byggd med hjälp av Node.js, Express och EJS. 
            Verktyg som jag använt mig av är Visual Studio Code, Git, GitHub, Render och pgAdmin4. <br><br> pgAdmin4 är ett vertyg för postgreSQL databas som jag använt för att skapa en databas för att lagra kursinfo.
            Sen har jag publicerat webbappen på Render. <br><br> Jag har även skapat en enkel design med hjälp av CSS. Tycker att det var en rolig men också svår uppgift att göra och jag har lärt mig mycket under processen.
        </p>
    </main>
</body>
</html>