<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Moment 1</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Visa kurser</a></li>
                <li><a href="/course">Lägg till kurser</a></li>
                <li><a href="/about">Om</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Lägg till kurser</h1>
        <form id="" method="post" action="">
            <label for="code">Kurskod</label>
            <input type="text" id="" name="" required>
            <label for="name">Kursnamn</label>
            <input type="text" id="" name="" required>
            <label for="progression">Progression</label>
            <select id="" name="" required>
            <label for="syllabus">Kursplan</label>
            <input type="text" id="" name="" required>
            <button type="submit">Lägg till</button>
        </form>
    </main>    
</body>
</html>