<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Moment 1</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/reset.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Hem</a></li>
                <li><a href="/course">Lägg till kurser</a></li>
                <li><a href="/about">Om</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Lägg till kurser</h1>
        <form id="course-form" method="post" action="/course">
            <label for="code">Kurskod</label>
            <input type="text" id="course-code" name="code" required>
            <label for="name">Kursnamn</label>
            <input type="text" id="course-name" name="name" required>
            <label for="progression">Progression</label>
            <select id="course-prog" name="progression" required>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
            <label for="syllabus">Kursplan</label>
            <input type="text" id="course-url" name="syllabus" required>
            <button type="submit" id="submit-btn">Lägg till</button>
        </form>
    </main>    
</body>
</html>