<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Moment 1</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Visa kurser</a></li>
                <li><a href="/course">Lägg till kurser</a></li>
                <li><a href="/about">Om</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Visa kurser</h1>
        <ul id="course-list"></ul>
    </main>
</body>
</html>